/* Autorstwa Mateusza Patryka Wawrzyńca Drewniaka,
 jako projekt zaliczeniowy na zajęcia Pracowni Witryn i Aplikacji
 w III klasie Technikum Informatycznego w Zespole Szkół Komunikacji
 im. Hipolita Cegielskiego w Poznaniu. Rocznik 1999. */

body
{
	background-color: #303030; /*#303030*/
	color: #ffffff;
}

h1
{
	color: #BFF9FC;
}

#wrapper
{
	background-color: #D9F0FF;
	opacity: 0.97;
}


header
{
	background-color: #F7F9F9;
}

nav
{
	background-color: #6DAEDB;
}

footer
{
	color: #aaaaaa;
}



ol a
{
	color: #ffffff;
}

ol > li:hover
{
	background-color: #FF7809;
}

ol > li:hover > a
{
	color: #111E1C;
}

ol > li > ul > li
{
	background-color: #FF7809;
	border-top: 1px dotted #606060;
}

ol > li > ul > li:hover
{
	background-color: #52B0A3;
}


ol > li > ul > li:hover > a
{
	color: #111E1C;
}

article > ul > li > a
{
	color: #E69A4D;
}

a
{
	color: #E69A4D;
}

a:hover
{
	color: #C4782B;
}
