/* Autorstwa Mateusza Patryka Wawrzyńca Drewniaka,
 jako projekt zaliczeniowy na zajęcia Pracownii Witryn i Aplikacji
 w IV klasie Technikum Informatycznego w Zespole Szkół Komunikacji
 im. Hipolita Cegielskiego w Poznaniu. Rocznik 1999. */

*{box-sizing: border-box; padding: 0; margin: 0;}

.post-preview{position: relative;}

.post-preview-content{
	position: absolute;
	bottom: 40px;
	left: 0;
	padding: 0 40px 0 20px;
	color: white;
	max-width: 75%;
}

i.fas{color: inherit !important;}

.post-thumbnail::after{
	content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(51, 87, 111, 0.6);;
}

.category{
	background-color: #2D34B5;
	transform: skewY(175deg);
	padding: 3px;
	position: absolute;
}

.separator{margin-bottom: 70px; display: block;}

article .category {color: white; top: -60px;}

.post_body{position: relative;}

.post-preview .category{top: -50px;}

.post-preview-content a{color: white; transition-duration: 1s;}
.post-preview-content a:hover{color: #ffffff7d; transition-duration: 1s;}

body, nav, #wrapper > footer
{
	
	font-family: 'Barlow', sans-serif;
}

form#login input, form#login button{
	width: 80%;
	margin: 0 auto 0 auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.img-post{
	width: 80%;
	display: block;
	margin: 10px auto 20px auto;
}

header{
	font-family: 'Fondamento', cursive;
	font-size: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
}

h1
{
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px !important;
}

abbr{color: #F06529; text-decoration: none !important;}

em, i{color: #3877B0;}


.big-nav{display: none;}

.i8086{width: 400px; border-radius: 2rem; text-align: right;}

.custom{margin-left: auto; margin-right: auto; width: 200px;}

.custom ul, .custom ol{list-style-type: none;}

#wrapper
{
	
	min-height: 100vh;
	padding: 0;
}

aside{
	width: 20%;
	height: 100vh;
	background-color: #343ab7;
	color: #BFC2F6;
	float: left;
	position: relative;
}
main{
	float: left;
	width: 80%;
}

.btn-logout{
	position: absolute;
	bottom: 20px;
	transform: translate(-50%, 0);
	left: 50%;
}

.side-nav-item{
	width: 80%;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2D34B5;
	text-align: center;
	transition-duration: .5s;
}

.side-nav a{color: inherit !important;}

.side-nav-item:hover{
	background-color: #1e25a9;
	transition-duration: .5s;
}

.side-nav-item > p{
	font-size: 25px;
	margin-top: 10px;
}

.side-nav-item > i{
	font-size: 40px;
}

img.gallery{width:100%;}

img.logo
{
	transition-duration: 2s;
}

img.logo:hover
{
	opacity: 0.7;
	margin-left: 30px;
	transition-duration: 1.4s;
}


header
{
	min-width: 200px;
	min-height: 50px;
	text-align: center;
	margin: auto;
	vertical-align: middle;

}

nav
{
	padding: 10px;
	max-width: 100vw;
}

.proper-nav
{
	max-width: 60vw;
	margin: 0 auto 0 auto;
}

article
{
	padding: 40px;
	text-align: justify;
	font-size: 19px;
	line-height: 150%;
	width: 80%;
	margin: 0 auto 0 auto;
}

.post-thumbnail img{width: 100%;}

blockquote{ padding-top: 55px; padding-bottom: 55px; padding-right: 20px; padding-left: 20px; background-image: url("../img/circles-and-roundabouts.png.png");
	opacity: 0.9; border-radius: 2rem;}

#wrapper > footer
{
	text-align: center;
	font-size: 16px;
	min-height: 100px;
	padding-top: 20px;

}

#wrapper > footer ul, #wrapper > footer ol{list-style-type: none; line-height: 1.5; display: block; width: 180px; margin-left: auto; margin-right: auto;}
#wrapper > footer em, #wrapper > footer i, #wrapper > footer em:hover, #wrapper > footer i:hover, .rule-britannia, .rule-britannia:hover{transition-duration: 0.5s;}


.inner-footer
{
	min-height: 100px;
	width: 100%;
	margin: 0 !important;
	text-align: left;
	padding: 0;
}

p.logo{
	font-size: 40px;
	font-family: 'Fondamento', cursive;
	text-align: center;
}

.inner-footer h3, .inner-footer h3:hover{transition-duration: 1s;}

.inner-footer > div > div{padding: 30px;}
.inner-footer > div > div > div{margin-top: 30px;}
.inner-footer .row{width: 75%; margin-right: auto; margin-left: auto;}
.dropdown-menu{width: 19.5%;}
.footer-logo{width: 160px;}
.author-photo{width: 200px;}

nav ol
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 50px;
	line-height: 300%;
	
}

nav ol a
{
	display: block;
	font-size: 20px;
}

nav ol > li
{
	float: left;
	height: 50px;
	font-size: 15px;
	border-right: 1px dotted #606060;
	border-radius: .15rem;
	width: 33.333%;
	transition-duration: 0.5s;
}

nav ol > li:last-child
{
	border-right: 0;
}

nav ol > li:hover
{
	cursor: pointer;
	transition-duration: 0.5s;
}


nav ol > li > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: center;
	z-index: 100;
	display: none;
	min-width: 10rem;
	min-height: 270px;
    padding: .5rem 0;
    margin: .125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}



nav ol > li > ul > li
{
	position: relative;
	width: 100%;
	height: 50px;
	padding-left: 22px;
	padding-right: 22px;
	transition-duration: 0.5s;

}

hr{margin:60px 0 60px 0 !important;}

.comment > div{
	margin-bottom: 15px;
	font-size: 15px;
}

nav ol > li > ul > li:hover
{
	position: relative;
	transition-duration: 0.5s;
}

nav ol > li:hover > ul
{
	display: block;
	z-index: 100;
}

nav ol > li > ul > li:hover > a
{
	transition-duration: 0.5s;
}

article > ul > li > a{line-height: 200%;}
article > .row > div > div{margin-left: auto; margin-right: auto; max-width: 260px;}

article ul
{
	list-style-type: none;
	margin-left: 5px;
}


@media(min-width: 980px)
{
	img.logo{width: 750px;}
	article{width: 75%;}
}

@media(min-width: 1400px)
{
	img.logo{width: 876px;}
	article{width: 60%;}
}
@media(min-width: 1026px){.dropdown-menu{width: 15%;}}
@media(max-width: 1025px)
{
	img.logo{width: 600px;}
	.proper-nav{max-width: 80%;}
	.inner-footer > .row{width: 100%;}
}

@media(max-width: 880px)
{
	img.logo:hover{margin:0;}
}



@media(max-width: 840px)
{
	.proper-nav{max-width: 100%;}
	.dropdown-menu{width: 24.5%;}
	.author-photo{width: 150px;}
	article{width: 85%;}
}

@media(max-width: 680px)
{
	img.logo{width: 450px;}
	span.hide{display:none;}
}
@media(min-width: 681px){abbr.hide{display: none;}}

@media(max-width: 635px)
{
	.inner-footer > div > div{max-width: 100%; flex: 0 0 100%;}
	.text-center-custom{text-align: center;}
	.inner-footer .features, .inner-footer .author {margin-top: 20px; }
}

@media(min-width: 636px)
{
	.footer-logo{float: left;}
	.author p{max-width: 400px;}
	.author h3{max-width: 260px;}
	.features h3{max-width: 170px;}
}

@media(max-width: 1250px) and (min-width: 577px)
{
	.row .post-preview{
		-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
	}
}

@media(max-width: 1250px)
{
	.post-preview-hide{
		display: none;
	}
}
